body {
  padding: 10px;
  font: 18px "Lucida Grande", Helvetica, Arial, sans-serif;
  background-color: lightblue;
}

a {
  color: #00B7FF;
}

.message-container{
  display: flex;
  flex-direction: column;
  gap: 20px;
}
.message{
  display: flex;
  flex-direction: column;
  border-style: solid;
  border-radius: 20px;
  padding: 10px;
  background-color: white;
  max-width: 600px;
  min-width: 300px;
  font-size: 32px;
}

.added{
  font-size: 14px;
  color: grey;
}

.user{
  text-align: end;
  font-size: 24px;
}

.message-form{
  display: flex;
  flex-direction: column;
  border-style: solid;
  padding: 10px;
  background-color: white;
  max-width: 600px;
  gap: 10px;
  margin-bottom: 50px;
  min-width: 300px;
  border-radius: 20px;
}
